@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap");

:root {
  --default-font: "Fira Sans", sans-serif;
  --bold-font: "Jaldi", sans-serif;
  --color-1: #001f09;
  --color-2: #0f9e37;
  --color-3: #ffffff;
  --color-4: #fdfff6;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--color-3);
  height: 4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

body {
  background-color: var(--color-4);
}

.period_point {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 62rem;
  max-height: 14rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
  gap: 1rem;
}

.period_point__img {
  max-height: 14rem;
  max-width: 20rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.period_text {
  font-size: 0.875rem;
  line-height: 1rem;
}

.period_text__content {
  overflow: hidden;
  white-space: pre-wrap;
  text-align: justify;
  max-height: 12rem;
  max-width: 34rem;
}

.period_text__link {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
}

.period_info__name {
  font-family: var(--bold-font);
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--color-1);
  margin: 1.5rem 0 4rem;
}

.period_info:first-of-type {
  margin-top: 4rem;
}

.period_info {
  min-height: calc(100vh - 4rem);
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.period_info__bg {
  position: absolute;
  top: 0;
  z-index: -1;
  filter: blur(0.35rem);
  opacity: 0.12;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.periods {
  display: flex;
  justify-content: space-around;
  max-width: 32rem;
  margin-left: 2rem;
  flex: 1;
}

.periods__name {
  color: var(--color-1);
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
}

.periods__name:active {
  color: var(--color-2);
}

.periods__name:hover {
  text-decoration: underline;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.logo,
.logo:hover,
.logo:active {
  text-decoration: none;
  color: inherit;
}

.logo__name {
  font-family: var(--bold-font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-2);
  white-space: nowrap;
}

.logo__icon {
  width: 3.75rem;
  height: 3.75rem;
}

@media only screen and (max-width: 56.25rem) {
  .logo__name {
    display: none;
  }
}
